/* dark and light mode  */
@media(prefers-color-scheme: dark) {
    :root {
        transition: ease-in-out 2s;
        --primary-color: rgb(88, 52, 99);
        --secondary-color: rgb(63, 29, 56);
        --tinted-color: rgb(74, 70, 75);
    }

}

@property --corner-size {
    syntax: "*";
    inherits: false;
}

:root {
    --ON: initial;
    --OFF: ;
    --primary-color: hsl(250 30% 40%);
    --secondary-color: hsl(190 40% 40%);
    --tinted-background: hsl(0 0% 100% / .8);
}

h1 {
    color: var(--secondary-color);
}

article {
    background: var(--primary-color);
}

article h2 {
    color: white;
}

article a {
    color: var(--primary-color);
}

article .content {
    background: var(--tinted-background);
}

/* second chapter */
progress {
    -webkit-appearance: none;
    background: hsl(220 10% 88%);
    --bar-color: hsl(30 80% 40%)
}

progress::-webkit-progress-value {
    background: var(--bar-color);
}

progress::-moz-progress-bar {
    background: var(--bar-color);
}

/* support css variable or not  */

@supports (--f : yolo) {
    body {
        background: rgba(104, 151, 194, 0.514);
    }
}



/* multiple fallbacks  */
/* background: var(--nonexistent, none, yellowgreen); */


/* third chapter  */

button {
    --is-shiny: var(--OFF);
    background: hsl(200 100% 50%) var(--is-shiny,
            linear-gradient(hsl(0, 7%, 81%), transparent));
}